:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.head-container {
    background-image: url(https://unsplash.it/900/150?random);
    background-size: cover;
    width: 100vw;
    height: 150px;
}
.nav-bar {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
}
.ul {
    width: 100vw;
    display: flex;
    justify-content: flex-end;

    list-style: none;
}

li {
    display: inline;
}

h1 {

}

/* Main Content */

/* Form */

