
__pycache__/math_rock.cpython-37.pyc
flask/irl_inventory/reference/__pycache__/irl_items.cpython-37.pyc
load/__pycache__/load_csv.cpython-37.pyc
data_projects/minerals/dependency/__pycache__/load_csv.cpython-37.pyc
data_projects/spotify/dependency/__pycache__/load_csv.cpython-37.pyc
*.png
*.env
league_autogui/__pycache__/smtptext.cpython-37.pyc
league_autogui/dependancies/__pycache__/automation.cpython-37.pyc
league_autogui/dependancies/__pycache__/smtptext.cpython-37.pyc
league_autogui/dependancies/lol.ahk
*.pyc
*.log
joseph_joint/ProjectRJ/
joseph_joint/jarchiepacheco.github.io/
