:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.circle1,
.circle2 {
    position: absolute;
    height: 20rem;
    width: 20rem;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.8), 
        rgba(255, 255, 255, 0.2));
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}
.circle2 {
    bottom: 5%;
    left: 10%;
}

/* Main Container */
.glass-container {
    z-index: 2;
    background: white;
    min-height: 80vh;
    width: 80%;
    display: flex;

    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3));
    border-radius: 2rem;    
    backdrop-filter: blur(2rem);
}

/* Content */
.sidebar {
    flex: 1;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}
/* Picture */
#user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 30%;
}
.img-container {
    box-shadow: 0px 0px 10px #888888;
    width: 10vw; /* 15vw for mobile? */
    height: 10vw;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}
.img-container > img {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: top;
    object-fit: cover;
}
.profile-name {
    padding: 10px 0 0 0;
    text-shadow: 2px 2px 8px #000000e0;

    color:rgba(110, 226, 178, 0.9);
}

/* sidebar navigation */
.sidebar-menu {
    
    height: 70%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-menu > ul {
    
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 0;
    padding: 0;
}

.nav-item {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-item a {
    
    width: 15vw;
    height: 6vw; /* 8vw for mobile */
    line-height: 6vw;
    text-align: center;
    text-decoration: none;
    color:purple;
    box-shadow: 3px 3px 8px #888888;
    border-radius: 1rem;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    /* background: url(images/button.jpg) 50% 50% no-repeat; */
}

/* Main Page Content */
.main-content {
    flex: 2;
    background: transparent;
}