<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapstyle.css') }}">
    <title>Map Page</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Map </h1>

    <form action="{{ url_for('mdata') }}" method="POST">
        <div class="user_input">
            <label for="longitude">Longitude:</label>
            <input type="text" id="longitude" name="longitude">
        </div>
        <br>
        <div class="user_input">
            <label for="latitude">Latitude: </label>
            <input type="text" id="latitude" name="latitude">
        </div>
        <p><input type="submit" value="Submit"></p>
    </form>
    <br>

    {% endblock %}
</body>
</html>