:root {
    --bkg-body: #0f263b;
    --secondary-clr: rgb(199, 175, 110);
}


* {
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    line-height: 1.4;

    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}
/* General Classes */

.flex-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* General Classes */

header {
    background: var(--bkg-body);
    /* background: gold; */
}

/* NavBar */

.nav-bar {
    /* background: aqua; */
    /* margin-bottom: 15px; */
    /* padding: 10px; */
    height: 64px;
    /* gap: 1rem; */
    align-items: center;
    justify-content: center;

}

.logo-img {
    color: white;
    min-width: 240px;
    height: 100%;
    font-weight: 600;
    font-size: 1.3rem;
    
}

.nav-list {

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    list-style: none;
}
.nav-list>li {
    
}

.nav-item {
    width: 100%;
    height: 100%;
    color: var(--secondary-clr);
    /* background: rgb(178, 209, 5); */

    height: 2em;

    /* left and right padding */
    padding: 0 .75em;
    /* border-radius: 8px; */
    text-decoration: none;

    /* box-shadow: 2px 2px 5px rgb(34, 34, 34); */
}

.nav-item:hover {
    background: var(--secondary-clr);
    color: var(--bkg-body);

    border-radius: 16px;
    
}

/* Profile */

.profile-container {
    /* height:80vh; */
    padding: 2em 3em;
    gap: 1.5em;
    
    background: var(--bkg-body)
}

.profile-pic {
    /* background: chartreuse; */
}

.profile-pic>img {
    width: 35%;
    height: auto;
    border-radius: 50%;
}

.profile-text {
    /* background: red; */
    color: white;
    margin: 0;
    
}

.profile-name {
    /* text-justify: left; */
    text-align: center;
    font-weight: 600;
}

.profile-details {
    /* text-justify: left; */
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    width: 75vw;
}

/* Main Content */

main {
    background: var(--bkg-body);
}

section {
    padding: 2em 1em;
}

.main-links {
    list-style: none;


    height: 100%;
    width: 100%;

    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.link-item {
    color: var(--bkg-body);
    background: var(--secondary-clr);

    text-decoration: none;

    /* padding: 0 2em; */
    height: 64px;
    min-width: 320px;

    font-weight: 600;

    border-radius: 16px;
    border: 5px solid var(--bkg-body);

    box-shadow: 2px 2px 5px rgb(34, 34, 34);
}

.link-item:hover {
    color: var(--bkg-body);
    background: var(--secondary-clr);
    border: 5px solid white;
}

/* Footer */
footer {
    color: var(--secondary-clr);
    background: var(--bkg-body);
    gap: 2em;
    height: 64px;
}

