:root {
    --clr-light: #FFFFFF;
    --clr-1: #FFD523;
    --clr-2: #B2B1B9;
    --clr-3: #595260;
    --clr-dark: #2C2E43;

/* Palette 2 
#2C2E43
#595260
#B2B1B9
#FFD523
#FFFFFF
*/

    --active-color: #2C2E43 ;
    --active-text: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
    line-height: 1.4;
}
/* General Use */
.yellow {
    background: var(--clr-1);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.big-title {
    font-size: ;
    font-weight: ;
    line-height: ;
}

.big-heading {
    font-size: ;
    font-weight: ;
    line-height: ;
}

.med-heading {
    font-size: ;
    font-weight: ;
    line-height: ;
}

.highlight {
    color: ;
}
/* Intro Section */
.intro-wrapper {
    
    width: 100%;
    height: 33vh;

    background: var(--clr-1);
}

@media screen and (max-width: 600px) {
    .intro-wrapper {
        width: 100%;
        height: max-content;
    }
}

/* Navbar Section */

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 60px;
    background: rgba(232, 240, 242, 0.05);
    /* can drop blur to 20 on mobile */
    backdrop-filter: blur(60px);
    display: grid;
    grid-template-columns: 3fr 2.5fr;
    align-items: center;

}

#logo-container {
    width: 100%;
    height: 100%;
    /* background: blue; */
    position: relative;
}
#logo-container::before {
    content: "LOGO";
    /* background: green; */
    display: block;
    font-weight: 800;
    color: var(--clr-dark);
    margin: 0;
    padding: .25em .75em;
    font-size: 2em;
}

#logo-container img {
    display: none;
    padding: .25em .75em;
    max-width: 120px;
}


.nav-links {
    width: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 1em; */
    list-style: none;
}

.nav-links li {
    /* background: blue; */
    position: relative;
    /* width: 18%; */
    margin: .25em;
    padding-bottom: .5em;
    text-align: center;
   
}

.nav-link {
    /* display: flex;
    align-items: center;
    justify-content: stretch; */
    position: relative;
    /* background: red; */
    padding: .5em .95em;
    

    color: var(--clr-dark);
    font-weight: 550;
    text-decoration: none;
    white-space: nowrap;
}

/* .nav-links li:hover {
    border-bottom: 2px solid var(--primary-2);
} */

.nav-links li::after {
    content: "";
    position: absolute;
    background: transparent;
    width: 0px;
    height: 0px;
}

.nav-links li:hover::after {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;
    background: var(--clr-dark);
}

@media screen and (max-width: 600px) {
    header {
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        background: var(--clr-1);
        
    }
    #logo-container::before {
        width: fit-content;

        font-size: 2.4em;
        font-weight: 900;

        margin: 0 auto;
        padding: .55em 0em;

    }
    nav {
        /* background: blue; */
        position: relative;
        border-bottom: 1.5px solid var(--clr-dark);
        
    }
    .nav-links {
        margin: 0;
        /* padding-top: 1em; */
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .nav-links li {
        margin: 0;
        width: 100vw;
        padding: .5em 0;

        border-top: 1px solid var(--clr-dark);
       
    }
    
    .nav-link {
        z-index: 5;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100%;
        font-size: 1.6em;
        font-weight: 550;
    }

    .nav-links li:hover::after {
        position: absolute;
        left: 0;
        bottom: 0;
        
        background: transparent;
        box-shadow: inset 0px 0px 5px .5px var(--clr-dark);

        width: 100%;
        height: 100%;
    }
   
}

/* Main Section */

.main-content {
/* DO NOT ADD SIDE MARGINS TO GENERAL SECTIONs */
    padding: 65px 0 1.5em 0;
    background: var(--clr-light);
    position: relative;
}

.main-content section {
    /* margin: 40px 0; */
    padding-top: 60px;
}

#intro {
    margin: 0;
    padding: 0;
    width: 100vw;
}

/* sponsorlist: */

#sponsors {
    /* background: red; */
    width: 85vw;
    position: relative;
    /* max-width: 1100px; */
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#sponsor-title {
    height: auto;
    font-size: 4em;
    color: var(--clr-dark);
    text-align: center;
    margin: 0 0 1.2em 0;
    border-bottom: 2.5px solid var(--clr-1);

}

#sponsor-list {
    /* background: lightblue; */
    /* padding: .5em 1em; */
    width: 85vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    
    
    list-style: none;
}

#sponsor-list li {
    /* margin: 20px 0 0 0; */
    /* background: green; */
    /* position: relative; */
    width: 100%;
    margin-bottom: 3em;
    
    /* border: 1px solid var(--primary-3); */
}

#sponsor-list a {
    text-decoration: none;
}

#sponsor-list a::before {
    margin: 0 auto;
    width: 30%;
    font-size: 1.8em;
    display: block;
    text-align: center;
    
    font-weight: 800;
    background: var(--clr-dark);
    color: var(--clr-1);

    border-radius: 20px;
    /* border-bottom: 1px solid rgba(239, 188, 125, 1) */
}

#sponsor-list a:hover::before {
    background: var(--clr-1);
    color: var(--clr-dark);

}

.chipotle-hoverable::before {
    content: "Chipotle";
}
.coffee-hoverable::before {
    content: "Coffee Bean";
}
.target-hoverable::before {
    content: "Target";
}
.cent-hoverable::before {
    content: "99 Cent Store";
}
.bevmo-hoverable::before {
    content: "Bevmo";
}

/* Individial Sponsors */
.sponsor {   
    position: relative;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 600px) {
    .main-content {
        
    }
    #sponsor-list a {
        background:rgb(175, 55, 55);
    }
    #sponsor-list a::before {
        margin: 0 auto;
        padding: 0.25em 0.5em;
        width: fit-content;
        font-size: 1.4em;
        display: block;
        text-align: center;
        
        font-weight: 700;
        background: var(--clr-dark);
        color: var(--clr-1);
    
        border-radius: 30px;
        /* border-bottom: 1px solid rgba(239, 188, 125, 1) */
    }
}



/* MEDIA */
#media {
    width: 100vw;
    margin: 50px 0 0 0;
    padding: 50px 0;
}

#media iframe {
    /* Cuts out extra whitespace from player */
    width: 80%;
    max-width: 800px;
    height: 200px;
    
}

#media h2 {
    padding: .5em 0;
    font-size: 2.4em;
    text-align: center;
    color: var(--clr-dark);
}

/* Footer */
footer {
    z-index: 1;
    color: var(--clr-dark);
    background: var(--clr-light);
    text-align: center;
}

footer div {
    padding: 65px 0 0 0;
    
}

#contact-us {
    z-index: 3;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-us-title {
    margin-bottom: 35px;
    font-size: 2.6em;
}
#contact-us-title::after {
    content: "";
    display: block;
    width: calc(2.4em * 2.2);
    margin: 0 auto;
    height: 2px;
    background: var(--clr-1);
}

#contact-us-text {
    color: var(--clr-3);
    font-size: 1.2em;
    font-weight: 480;
    margin: .75em 0;
}

#buisness-inquiry-text {
    color: var(--clr-3);
    font-size: 1.2em;
    font-weight: 480;
    margin: .75em 0;

}
#contact-us a {
    color: rgb(175, 55, 55);
    text-align: center;
    
    font-weight: 550;
    text-decoration: none;
}

#contact-us a:hover {
    color: var(--clr-1);
    font-weight: 600;
}


#find-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin: 40px;
}

#find-us-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.5em;
}
#find-us-title::after {
    content: "";
    display: block;
    width: calc(2em * 5.2);
    margin: 0 auto;
    height: 2px;
    background: var(--clr-1);
}

#footer-links {
    display: flex;
    width: 75vw;
    margin: auto;
    padding: 10px 20px 20px 20px;
    /* background: green; */
    align-items: center;
    justify-content: center;
    gap: 2em;
    list-style: none;
}

@media screen and (max-width: 600px) {
    #footer-links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.link-group {
    /* background: red; */
    width: 10em;
}

.link-group:hover {
    --active-color: var(--clr-1);
}

#footer-links svg {
    fill: var(--active-color);
    display: block;
    margin: auto;
    max-width: 60px;
    margin-bottom: 10px;
}

.footer-link {
    font-size: 1.4em;
    font-weight: 800;
    /* background: green; */
    padding-top: 80px;
    color: var(--active-color);
    text-decoration: none;
    /* border-bottom: 1px solid var(--primary-2); */
}

.footer-link:hover {
    /* text-shadow: 1px 0 1px lightcoral, 0 1px 1px lightskyblue; */
}

#footer-logo {
    padding: .75em 1em;
    margin: 0.5em;
}