:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background: rgb(113, 170, 28);
}

header h1 {
    white-space: nowrap;
    color: white;
    grid-column: 1 / span 1;
    margin: 1em .5em;
}

header nav {
    /* grid-area: links; */
    justify-self: center;
    grid-column: 3 / span 1;
}

header nav ul {
    height: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav li {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a {
    height: 100%;
    width: 100%;
    color: white;
    padding: 0.5em 1em;
    background: rgba(150, 90, 175, 1);
    text-decoration: none;
}

header nav a:hover {
    background: rgb(121, 18, 165);
}

/* Main Content */
.main-content {
    height: 200vh;
    background: blueviolet;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

footer h1 {
    padding: 0.15em 0.5em;
}

footer ul {
    grid-column: 3 / span 1;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

footer li {
    width: auto;
    height: auto;
}

footer a {
    height: 100%;
    width: 100%;
    color: black;
    white-space: nowrap;
    text-decoration: none;
}