<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parent Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
    <header>
        <div class="header">
            <a class="logo">Web App</a>
            <div class="header-right">
                <a class="active" href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('web_page1') }}">Web page 1</a>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>