<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/web1style.css') }}">
    <title>Web Page</title>
</head>
<body>
    {% extends "template.html" %}

    {% block content %}

    <h1> Page 1 </h1>

    <form action="{{ url_for('custom_func') }}" method="POST">
        <label for="input1">Input 1:</label>
        <input type="text" id="input1" name="input1">
        <br>
        <label for="input2">Input 2: </label>
        <input type="text" id="input2" name="input2">
        <p>Random: <input type="text" id="random_id" name="random_name"> </p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <br>

    {% endblock %}
</body>
</html>